[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
python-twitch-client = "*"
python-dotenv = "*"
pornhub-api = "*"
youtube-dl = "*"
pynacl = "*"

[dev-packages]

[requires]
python_version = "3.9"
